.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  padding: 0.6em 1em;
  font-size: 1em;
  color: #000000;
  background: #fff;
  border-radius: 1em;
  transition: all 0.3s;
  cursor: pointer;
}
.button:not(:disabled):hover {
  background: #dedede;
}
.button:not(:disabled):active {
  background: #ababab;
}
.button:disabled {
  cursor: progress;
  opacity: 0.5;
}
