.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1em;
  font-size: 1em;
  color: #000000;
  background: #fff;
  border-radius: 1em;
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background: #f3f3f3;
}
