@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
  font-family: Star Jedi;
  font-display: swap;
  src: url('./starjedi.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
