.select {
  display: flex;
  align-items: center;
  gap: 1em;
}
.label {
  font-size: 1em;
  color: #fff;
}
.container {
  position: relative;
  min-width: 10.5em;
  cursor: pointer;
  transition: all 0.3s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
  padding: 0.6em 1em;
  font-size: 1em;
  color: #000000;
  background: #fff;
  border-radius: 4px;
  text-transform: capitalize;
  transition: all 0.3s;
}
.icon {
  display: flex;
  pointer-events: none;
}
.container:not(.disabled) .header:hover {
  background: #dedede;
}
.listContainer {
  position: absolute;
  width: 100%;
  margin-top: 0.4em;
  z-index: 1;
}
.list {
  padding: 0.8em 0;
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  color: #000000;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 4px 11px;
  background: #fff;
}
.item {
  list-style: none;
  padding: 0.5em 1em;
  text-transform: capitalize;
  transition: all 0.3s;
}
.item:hover {
  background: #f3f3f3;
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
