.main {
  display: flex;
  height: calc(100vh - 100px - 80px);
  margin-top: 1em;
}
.topMain {
  display: flex;
  margin: 0 0 1em 0;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  color: #fff;
  font-size: 2em;
  margin: 0;
  text-transform: capitalize;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 80px);
  gap: 2em;
}

.sideList {
  width: 100%;
}

.sideCard {
  min-width: 40%;
}
