.card {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 1em;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.7em;
  cursor: pointer;
  transition: 0.3s;
}
.card:hover {
  background: #f3f3f3;
}

.cardRow {
  display: grid;
  grid-template-columns: minmax(160px, max-content) 3fr;
  overflow-wrap: anywhere;
  gap: 0.5em;
}

.cardRowName {
  text-transform: capitalize;
  font-weight: 500;
}

.cardRowValue {
  text-align: justify;
}
