.card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.6em;
  padding: 2em;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.7em;
  height: 100%;
  overflow: scroll;
}

.cardRow {
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.cardRowName {
  text-transform: capitalize;
}

.cardRowValue {
  text-align: justify;
  font-size: 2em;
  line-height: 1.2em;
}
