html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input,
select,
textarea {
  padding: 0;
  border: none;
  background-color: transparent;
}
ul {
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  background: radial-gradient(#252f58, #1f2734);
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
